---
layout: wedding
---
{% include wedding/parallax_window_top.html image_src="/wedding/images/santorini1.JPG" %}
  <h1>Our Story</h1>
{% include wedding/parallax_window_bottom.html %}

<p>
  Seattleites take advantage of any ounce of bearable, outdoor weather they can. That’s why we found ourselves on a clear, winter night, gathered on a sandy beach - Golden Gardens - among smells of campfire, sausages, and saltwater wind. It was a merging of two friend groups. With clinking bottles and laughter in the background, Chloe and Mack met for the first time. And they left quite an impression on each other.
</p>
<p>
  The following summer, Chloe moved into Mack's neighborhood, and something sparked. While neither would admit it, everyone around them could tell that something special and significant had started. From its inception, Chloe and Mack's relationship was built on respect, mutual curiosity, and food. And dessert, if for some reason that doesn’t count as food.
</p>
<p>
  Soon after they started dating, Chloe’s rural, Nepali nursing adventure and Mack’s Australian frolic approached, and the two thought more about their future together. At this point, you know how it ends: they made wonderful, unforgettable memories apart that brought them closer together and cast no doubt onto their feelings for one another.
</p>
<p>
  The relationship then progressed quickly. Here are the steps for incrementally forging a lasting relationship, per the original Chloe and Mack formula:
  <ol>
    <li>
      Obtain a miniature Australian shepherd named Cooper. Share custody.
    </li>
    <li>
      Soon after, move all belongings into a duplex in Seattle. Cohabitate.
    </li>
    <li>
      Experience difficult situations and tragic loss with family together.
    </li>
    <li>
      Season with gobs of debt, Seattle home-purchase flavor.
    </li>
    <li>
      Profit?
    </li>
  </ol>
</p>
<p>
  After a Mariner’s game, Mack pulled Richard, Chloe's father, aside and shared his plans to ask for Chloe’s hand in marriage. Pulling a handkerchief from his pocket, Richard looked at Mack and replied “I would love to have you as a son-in-law!”
</p>

{% include wedding/parallax_window_top.html image_src="/wedding/images/engagement1.JPG" %}
  <h1>The Engagement</h1>
{% include wedding/parallax_window_bottom.html %}

<p>
  Several months passed, and Chloe and Mack joined Chloe’s parents on a European tour through Prague, Istanbul, and Croatia. The team aviated, bussed, and trained across their destination countries, then Chloe and Mack headed towards their last destination before returning home - Amsterdam.
</p>
<p>
  On a brisk but sunny day while walking among the swans, parakeets, ponds, and trees of Amsterdam’s Vondelpark, Chloe and Mack happened upon a quiet meadow surrounded by sparkling fountains. While Chloe turned to take in the beauty, Mack slipped a ring out of his pocket and dropped to one knee. After a gasp, an embrace, tears, another embrace, and an additional prompt for a response to his question, Chloe and Mack were engaged!
</p>
<div class="more_space"></div>

<!-- <h1 class="serif-font">Hello there! How does this one look?</h1>
<h1 class="cursive-font">Hello there! How does this one look?</h1>
<h1 class="block-font">Hello there! How does this one look?</h1>
<h1 class="sketch-font">Hello there! How does this one look?</h1>
<h1 class="handwriting-font">Hello there! How does this one look?</h1>
<h1 class="fun-font">Hello there! How does this one look?</h1>
<h1 class="thin-serif-font">Hello there! How does this one look?</h1> -->