---
layout: wedding
---
{% include wedding/parallax_window_top.html image_src="/wedding/images/santorini1.JPG" %}
  <h1>Our Story</h1>
{% include wedding/parallax_window_bottom.html %}

<p>
  Seattleites take advantage of any ounce of bearable, outdoor weather they can. That’s why we found ourselves on a rainless, winter night, gathered on a sandy beach - Golden Gardens - among smells of campfire, sausages, and saltwater wind. It was a merging of two friend groups. With clinking bottles and laughter in the background, Chloe and Mack met for the first time. They left quite an impression on each other.
</p>
<p>
  When Chloe moved a few blocks away from Mack the following summer, something sparked. While neither would admit it, close friends on both sides knew that something special and significant had started. From its inception, it was a relationship built on mutual curiosity, respect, and food. And dessert, if for some reason that doesn’t count as food.
</p>
<p>
  As Chloe’s rural, Nepali nursing adventure and Mack’s Australian frolic approached, the couple thought more about the future of couplehood. You know how it ends: they made wonderful, unforgettable memories apart that brought them closer together and cast no doubt onto their feelings for one another.
</p>
<p>
  The relationship then progressed quickly. Here are the steps for incrementally testing a relationship, per the original Clack formula:
  <ol class="fun-font">
    <li>
      Obtain a miniature Australian shepherd named Cooper. Share custody.
    </li>
    <li>
      Soon after, move all belongings into a duplex in Ballard. Cohabitate.
    </li>
    <li>
      Experience difficult situations and tragic loss and with family together.
    </li>
    <li>
      Season with gobs of debt, Ballard home-purchase flavor.
    </li>
    <li>
      Profit?
    </li>
  </ol>
</p>
<p>
  After a Mariner’s game [in July 2014], Mack pulled Richard aside and shared his plans to ask for Chloe’s hand. Pulling a handkerchief from his pocket, he looked at Mack and replied “I would love to have you as a son-in-law!”
</p>

<h1 class="serif-font">Hello there! How does this one look?</h1>
<h1 class="cursive-font">Hello there! How does this one look?</h1>
<h1 class="block-font">Hello there! How does this one look?</h1>
<h1 class="sketch-font">Hello there! How does this one look?</h1>
<h1 class="handwriting-font">Hello there! How does this one look?</h1>
<h1 class="fun-font">Hello there! How does this one look?</h1>
<h1 class="thin-serif-font">Hello there! How does this one look?</h1>