---
layout: wedding
---

{% include wedding/rsvp_button.html %}

{% include wedding/parallax_window_top.html image_src="/wedding/images/55475158.jpg" %}
{% include wedding/parallax_window_bottom.html %}

<div class="spacer"></div>

<h1>
	<!-- <span class="glyphicon glyphicon-time"></span><br> -->
	September 4th, 2016<br>
	Ceremony at 3pm
</h1>

<div class="fancy-hr"></div>

<h1 class="special-bottom-margin">
	<!-- <span class="glyphicon glyphicon-map-marker"></span><br> -->
	Pickering Barn<br>
	Issaquah, WA
</h1>
<p class="centered">
	<span class="glyphicon glyphicon-map-marker"></span>
	<a href="https://goo.gl/maps/bh9xu" target="_blank">
		Map
	</a>
</p>

<div class="fancy-hr"></div>

<h1>Parking</h1>
<p>
	The Pickering Barn has a parking lot on the south side of the venue with 145 parking stalls. Handicapped and carpool stalls are provided. Parking is complimentary, but overnight parking is not permitted.
</p>

<h1>Accommodations</h1>
<p>
	A block of the nearby <a href="https://goo.gl/maps/t1yUMLzo8uB2" target="_blank">Hilton Garden Inn Issaquah</a> will be reserved for guests to book as the wedding gets closer. More information will be posted as it becomes available.
</p>

<h1>Shuttle</h1>
<p>
	A complimentary shuttle service will be provided throughout the wedding running between the Hilton Garden Inn and venue starting an hour before the ceremony.
</p>