---
---
<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=450">
        <meta name="description" content="Get all the wedding details for Chloe and Mack Talcott's wedding from their wedding website, including details for the wedding registry, travel and hotels.">
        <meta name="keywords" content="chloe,rahmun,mack,talcott,wedding,website,issaquah,seattle,2016">
        <title>Chloe &amp; Mack's Wedding - 2016</title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <link rel="icon" href="//favicon.ico" type="image/x-icon" sizes="16x16"> -->
        
        <link rel="stylesheet" href="/wedding/css/bootstrap.min.css">
        <link rel="stylesheet" href="/wedding/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/wedding/css/wedding-main.css">

        <link href='http://fonts.googleapis.com/css?family=Sanchez|Life+Savers|Fredericka+the+Great|Cedarville+Cursive|Great+Vibes|Special+Elite|Old+Standard+TT|Josefin+Slab|Sancreek' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="background"></div>
        <div class="runner">
            <div class="left-border">&nbsp;</div>
            <div class="content">
                <div class="title">
                    <h1 class="names">Chloe &amp; Mack</h1>
                    <div class="fancy-hr"></div>
                    <h1 class="date">September 4th, 2016</h1>
                </div>

                {% include wedding/navbar.html %}

                {{ content }}
            </div>
            <div class="right-border">&nbsp;</div>

            <!-- <section id="intro" class="intro-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Scrolling Nav</h1>
                            <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                            <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>

        <script src="/wedding/js/jquery-1.11.3.min.js"></script>
        <script src="/wedding/js/bootstrap.min.js"></script>
        <script src="/wedding/js/parallax.min.js"></script>
        <script src="/wedding/js/wedding.js"></script>
    </body>
</html>