<!-- <ul class="nav navbar-nav">
    <li>
        <a class="page-scroll" href="#about">About</a>
    </li>
    <li>
        <a class="page-scroll" href="#services">Services</a>
    </li>
    <li>
        <a class="page-scroll" href="#contact">Contact</a>
    </li>
</ul> -->
<div class="navbar row">
    <div class="navbar-item col-lg-4"> 
        <a href="#wedding">Wedding</a>
    </div>
    <div class="navbar-item col-lg-4"> 
        <a href="#story">Our Story</a>
    </div>
    <div class="navbar-item col-lg-4"> 
        <a href="#rsvp">RSVP</a>
    </div>
</div>