
<div class="fancy-hr"></div>

<h1 class="cursive-font">Hello there! How does this one look?</h1>
<h1 class="block-font">Hello there! How does this one look?</h1>
<h1 class="outline-font">Hello there! How does this one look?</h1>
<h1 class="sketch-font">Hello there! How does this one look?</h1>
<h1 class="handwriting-font">Hello there! How does this one look?</h1>
<h1 class="fun-font">Hello there! How does this one look?</h1>
<h1 class="dot-font">Hello there! How does this one look?</h1>
<h1 class="funky-font">Hello there! How does this one look?</h1>
<h1 class="thin-serif-font">Hello there! How does this one look?</h1>