<h1>This is how we do</h1>
<p>
	Your rapidograph pens are fucking dried up, the x-acto blades in your bag are rusty, and your mind is dull. Stop clicking your mouse, get messy, go back to the basics and make something fucking original. What’s important is the fucking drive to see a project through no matter what. You won’t get good at anything by doing it a lot fucking aimlessly. Never let your guard down by thinking you’re fucking good enough. Respect your fucking craft. Dedicate yourself to lifelong fucking learning. When you sit down to work, external critics aren’t the enemy. It’s you who you must to fight against to do great fucking work. You must overcome yourself.
</p>
<p>
	Never, never assume that what you have achieved is fucking good enough. To go partway is easy, but mastering anything requires hard fucking work. Design as if your fucking life depended on it. Can we all just agree as the greater design community to stop fucking talking about Comic Sans altogether? It’s getting fucking old. Someday is not a fucking day of the week. Widows and orphans are terrible fucking tragedies, both in real life and definitely in typography. Make your work consistent but not fucking predictable.
</p>

<h1>Engagement</h1>
<p>
	Learn from fucking criticism. When you sit down to work, external critics aren’t the enemy. It’s you who you must to fight against to do great fucking work. You must overcome yourself. Creativity is a fucking work-ethic. Nothing of value comes to you without fucking working at it. Design is all about fucking relationships—the relationship of form and content, the relationship of elements, the relationship of designer and user. If you’re not being fucking honest with yourself how could you ever hope to communicate something meaningful to someone else?
</p>
<p>
	The details are not the details. They make the fucking design. A good fucking composition is the result of a hierarchy consisting of clearly contrasting elements set with distinct alignments containing irregular intervals of negative space. Design as if your fucking life depended on it. Don’t fucking lie to yourself. You won’t get good at anything by doing it a lot fucking aimlessly. What’s important is the fucking drive to see a project through no matter what. Must-do is a good fucking master. Form follows fucking function. You need to sit down and sketch more fucking ideas because stalking your ex on facebook isn’t going to get you anywhere
</p>


<h1 class="serif-font">Hello there! How does this one look?</h1>
<h1 class="cursive-font">Hello there! How does this one look?</h1>
<h1 class="block-font">Hello there! How does this one look?</h1>
<h1 class="outline-font">Hello there! How does this one look?</h1>
<h1 class="sketch-font">Hello there! How does this one look?</h1>
<h1 class="handwriting-font">Hello there! How does this one look?</h1>
<h1 class="fun-font">Hello there! How does this one look?</h1>
<h1 class="thin-serif-font">Hello there! How does this one look?</h1>