---
---
html, body {
}

body {
    /*color: #EFE7DA;*/ /* Off-white */
    color: white;
    font-size: 16px;

    background: url("../images/WoodPlanksBare0013_2_S.jpg") repeat;
    background-size: 640px 640px;
    background-attachment: fixed;
}

.runner {
    margin: 0 auto;
    background: url("../images/FabricPlain0055_4_S.jpg") repeat;
    background-size: 300px 300px;
    display: table;
    box-shadow: 0px 0px 100px #000;
    width: 90%;
    min-width: 600px;
}

.title {
    font-family: 'Fredericka the Great', cursive;
    // text-transform: uppercase;
    font-size: 80px;
}

.left-border, .content, .right-border {
    display: table-cell;
}

.left-border, .right-border {
    /*background: url("../images/12968-NOP3YQ.svg") repeat;*/
    background: url("../images/12968-NOP3YQ.png") repeat;
    background-size: 300px 800px;
    background-position: 0px 0px;
    width: 150px;
}
.right-border {
    background-position: -150px 0px;
}
@media (max-width: 850px) {
    .runner {
        width: 90%;
    }
    .left-border, .right-border {
        width: 75px;
        background-size: 150px 400px;
    }
    .right-border {
        background-position: -75px 0px;
    }
}


.content {
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1 {
    padding-bottom: 40px;
    text-align: center;
    font-size: 40px;
}

footer {
    text-align: center;
}

/* Fonts */
body {
    font-family: 'Sanchez', serif;
}
.serif-font {
    font-family: 'Old Standard TT', serif;
}
.cursive-font {
    font-family: 'Great Vibes', cursive;
}
.block-font {
    font-family: 'Sancreek', cursive;
    text-transform: uppercase;
}
.sketch-font {
    font-family: 'Fredericka the Great', cursive;
}
.handwriting-font {
    font-family: 'Cedarville Cursive', cursive;
}
.fun-font {
    font-family: 'Life Savers', cursive;
}
.thin-serif-font {
    font-family: 'Josefin Slab', serif;
    /*font-variant: small-caps;*/
    text-transform: uppercase;
}

/* END Fonts*/

/* Navbar */
.navbar {
    width: 100%;
    padding-bottom: 40px;
}
.navbar-item {
    text-align: center;
    width: 25%;
    float: left;
}
.navbar-item a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    background: url("../images/FLORAL3.png") no-repeat;
    background-size: 116px 150px;
    height: 150px;
    width: 116px;

    .navbar-item-inner {
        margin: 0 auto;
        margin-top: 21px;
        padding-top: 24px;
        height: 76px;
        width: 76px;
        border-radius: 50%;
        transition: all 0.4s ease;
        // font-weight: bold;
    }

    &:hover .navbar-item-inner {
        background-color:rgba(255,255,255,0.25);
        transition: all 0.4s ease;
    }

    // &:active .navbar-item-inner {
    //     background-color:rgba(255,255,255,0.8);
    //     transition: all 0.2s ease;
    // }

    &.active .navbar-item-inner {
        color: #6b5439;
        transition: all 0.4s ease;
        background-color:rgba(255,255,255,1);
    }
}
/* END Navbar */
