---
---

$standard_spacing: 80px;

html, body {
}

body {
    /*color: #EFE7DA;*/ /* Off-white */
    color: white;
    font-size: 18px;
}

::selection {
    background: #6b5439;
}

.background {
    position: fixed;
    background: url("../images/WoodPlanksBare0013_2_S.jpg") repeat;
    background-size: 640px 640px;
    height: 100%;
    width: 100%;
}

.runner {
    margin: 0 auto;
    background: url("../images/FabricPlain0055_4_S.jpg") repeat;
    background-size: 200px 200px;
    display: table;
    box-shadow: 0px 0px 100px #000;
    width: 90%;
    position: relative;
    min-width: 450px;
}

.title {
    .names {
        font-family: 'Fredericka the Great', cursive;
        // text-transform: uppercase;
        font-size: 80px;
        margin-bottom: $standard_spacing / 4;
    }
    .fancy-hr {
        margin-bottom: $standard_spacing / 4;
    }
    .date {

    }
}

.left-border, .content, .right-border {
    display: table-cell;
}

.left-border, .right-border {
    /*background: url("../images/12968-NOP3YQ.svg") repeat;*/
    background: url("../images/12968-NOP3YQ.png") repeat;
    background-size: 300px 800px;
    background-position: 0px 0px;
    width: 150px;
}
.right-border {
    background-position: -150px 0px;
}
@media (max-width: 850px) {
    .runner {
        width: 90%;
    }
    .left-border, .right-border {
        width: 75px;
        background-size: 150px 400px;
    }
    .right-border {
        background-position: -75px 0px;
    }
}
@media (max-width: 600px) {
    .runner {
        width: 100%;
    }
    .left-border, .right-border {
        display: none;
    }
}


.content {
    p {
        padding: 0 20px;
        margin-bottom: $standard_spacing;
    }
}

h1 {
    // margin-bottom: $standard_spacing;
    text-align: center;
    font-size: 50px;
    margin-bottom: $standard_spacing;
    font-family: 'Great Vibes', cursive;
}

footer {
    text-align: center;
}

/* Fonts */
body {
    font-family: 'Sanchez', serif;
}
.serif-font {
    font-family: 'Old Standard TT', serif;
}
.cursive-font {
    font-family: 'Great Vibes', cursive;
}
.block-font {
    font-family: 'Sancreek', cursive;
    text-transform: uppercase;
}
.sketch-font {
    font-family: 'Fredericka the Great', cursive;
}
.handwriting-font {
    font-family: 'Cedarville Cursive', cursive;
}
.fun-font {
    font-family: 'Life Savers', cursive;
}
.thin-serif-font {
    font-family: 'Josefin Slab', serif;
    /*font-variant: small-caps;*/
    text-transform: uppercase;
}

/* END Fonts*/

/* Navbar */
.navbar {
    width: 100%;
    margin-bottom: $standard_spacing;
}
.navbar-item {
    text-align: center;
    width: 25%;
    float: left;
}
.navbar-item a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    background: url("../images/FLORAL3.png") no-repeat;
    background-size: 116px 150px;
    height: 150px;
    width: 116px;

    .navbar-item-inner {
        margin: 0 auto;
        margin-top: 21px;
        padding-top: 24px;
        height: 76px;
        width: 76px;
        border-radius: 50%;
        
        color: #6b5439;
        transition: all 0.4s ease;
        background-color:rgba(255,255,255,0.8);
    }

    &:hover .navbar-item-inner {
        background-color:rgba(255,255,255,1);
        transition: all 0.4s ease;
    }

    // &:active .navbar-item-inner {
    //     background-color:rgba(255,255,255,0.8);
    //     transition: all 0.2s ease;
    // }

    &.active .navbar-item-inner {
        color: white;
        font-weight: bold;
        transition: all 0.4s ease;
        background-color:rgba(255,255,255,0);
    }
}
/* END Navbar */

.fancy-hr {
    background: url("../images/fave.png") no-repeat;
    width: 100%;
    background-size: contain;
    height: 43px;
    background-position: 50% 0;
    margin-bottom: $standard_spacing;
}

/* Content sections */
.wedding-content {
    // visibility: hidden;
    display: none;
    // opacity: 0;
    // height: 0px;
    // transition: 0.4s ease;
    // transition: all 0.4s ease;
}
.wedding-content.active {
    // visibility: visible;
    display: inherit;
    // opacity: 1;
    // height: inherit;
    // transition-delay: 0.4s;
    // transition: all 0.4s ease;
    // animation: fadein 2s;
}

/* END Content sections */
