---
layout: wedding
---

{% include wedding/parallax_window_top.html image_src="/wedding/images/SeattleWA.jpg" %}
  <h1>Around Seattle</h1>
{% include wedding/parallax_window_bottom.html %}


<h2>Pike Place Market</h2>
<p>
	Covering over 9‐acres, the Market contains so many shops, stalls, eateries, galleries, and service providers that it is impossible to see everything in a single visit. Everyone enjoys wandering among the lavish displays of colorful flowers, plump produce, and fresh seafood that are found throughout the market.
</p>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 1501 Pike Place<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.pikeplacemarket.org/" target="_blank">http://www.pikeplacemarket.org/</a>
</p>

<h2>Savor Seattle Food Tours</h2>
<p>
	Each tour offers a large variety of tastings (20+), while visiting 6‐10 different specialty food shops, artisans, and neighborhood restaurants.  Tours operate daily year‐round, are 2‐3 hours long, and range between $39 ‐ $69, depending on the tour. The tours focus on F.L.O.S.S. (fresh, local, organic, seasonal, and sustainable) foods and beverages. Enough food is served on each tour that most guests consider it a meal.
</p>
<p>
	<span class="glyphicon glyphicon-earphone"></span> 1.888.98.SAVOR<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.savorseattletours.com/" target="_blank">http://www.savorseattletours.com/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>

<!--
<h2>Ride the Ducks of Seattle</h2>
<p>
	Tour Seattle by land and water on a WWII amphibious landing craft!  Youʹll see all the sites of Seattle including the Seattle waterfront, Qwest Field, Safeco Field, historical Pioneer Square, Pike Place Market and the downtown shopping district! Then, head out to Fremont where youʹll SPLASH into Lake Union to see Gasworks Park, the Sleepless in Seattle floating home and a breath‐taking view of the Seattle skyline!
</p>
<p>
	<span class="glyphicon glyphicon-earphone"></span> (206) 441 3825<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.ridetheducksofseattle.com/" target="_blank">http://www.ridetheducksofseattle.com/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>
-->
<!-- 
<h2>Experience Music Project</h2>
<p>
	A groundbreaking place to truly take in the past, present, and future of music. With architecture that is daring to say the least, and music from the past and present taking center stage, Jimi Hendrix would be proud of the EMP, himself a native Seattleite.
</p>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 325 5th Avenue North Seattle, WA 98109<br>
	<span class="glyphicon glyphicon-earphone"></span> (206) 770‐2702<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.empmuseum.org/" target="_blank">http://www.empmuseum.org/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>
-->

<h2>Seattle Art Museum</h2>
<p>
	The SAM, as it is known, includes the main downtown location, as well as the Seattle Asian Art Museum, the Olympic Sculpture Park, and the SAM gallery.
</p>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 1300 1st Ave Seattle, WA 98101<br>
	<span class="glyphicon glyphicon-earphone"></span> (206) 625‐8900<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.seattleartmuseum.org/" target="_blank">http://www.seattleartmuseum.org/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>

<h2>Columbia Tower - Sky View Observatory</h2>
<p>
	The Sky View Observatory is located on the 73rd floor of Columbia Center. At nearly 1,000 feet it offers the tallest public viewing area west of the Mississippi. The 360 degree panoramic view includes Mt. Rainier, Bellevue, the Cascade Mountains, Mt. Baker, Elliott Bay, the Olympic Mountains, the Space Needle and the city of Seattle.
</p>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 701 5th Ave
Seattle, WA 98104<br>
	<span class="glyphicon glyphicon-earphone"></span> (206) 386-5564<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.skyviewobservatory.com/" target="_blank">http://www.skyviewobservatory.com/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>

<h2>Space Needle</h2>
<p>
	1962, the Space Needle served as the symbol of that yearʹs Worldʹs Fair. It has since become the symbol of Seattle, and one of the most recognizable structures in the world.
</p>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 400 Broad St Seattle, WA 98109<br>
	<span class="glyphicon glyphicon-earphone"></span> (206) 905‐2100<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.spaceneedle.com/" target="_blank">http://www.spaceneedle.com/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>

<h2>Pacific Science Center</h2>
<p>
	The interactive exhibits and programs at the Pacific Science Center are for everyone, adults and kids alike.
</p>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 200 2nd Ave N, Seattle, WA 98109<br>
	<span class="glyphicon glyphicon-earphone"></span> (206) 443-2001<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.pacificsciencecenter.org/" target="_blank">http://www.pacificsciencecenter.org/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>

<h2>Chihuly Garden and Glass</h2>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 305 Harrison St, Seattle, WA 98109<br>
	<span class="glyphicon glyphicon-earphone"></span> (206) 753-4940<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.chihulygardenandglass.com/" target="_blank">http://www.chihulygardenandglass.com/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>

<h2>Bon Vivant Wine Tours</h2>
<p>
	Bon Vivant Wine Tours of Washington offer guided small group tours from Seattle of premium Washington State wineries, vineyards, and tasting rooms ‐‐ tours that also include gourmet regional cuisine.
</p>
<p>
	<span class="glyphicon glyphicon-earphone"></span> (206) 437-2398<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.bonvivanttours.com" target="_blank">http://www.bonvivanttours.com</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>

<h2>The Seattle Great Wheel</h2>
<p>
	The Seattle Great Wheel opened to the public on June 29, 2012. Since then, it has become an icon of the city and a destination for tourists and locals alike.  Here are some fun facts about the Seattle Great Wheel: The Seattle Great Wheel is the largest observation wheel on the west coast, standing 175 feet tall, The wheel has 42 fully-enclosed gondolas. Each gondola seats up to eight people, meaning the wheel can hold over 300 passengers at any given time.
</p>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 1301 Alaskan Way, Seattle, WA 98101<br>
	<span class="glyphicon glyphicon-earphone"></span> (206) 623-8607<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="https://seattlegreatwheel.com/" target="_blank">https://seattlegreatwheel.com/</a><br>
	<span class="glyphicon glyphicon-tint"></span> Rain or Shine
</p>

<h2>Shopping District (6th and Pine)</h2>
<p>
	Seattleʹs downtown shopping district is a compact square of several blocks with brand names like Urban Outfitters, Gap and Nordstrom.  Fashion boutiques like Betsy Johnson and Isadoraʹs Antique Clothing dotthe urban landscape and offer Seattle shoppers more eclectic options
</p>

<h2>Argosy Cruises</h2>
<p>
	Argosy Cruises is a Seattle attraction you don't want to miss. Quite simply, there is no better way to see Seattle than from the water. Come on board one of our four public cruise tours. Cruises depart daily year-round from downtown Seattle, Lake Union and Kirkland City Dock. All have live narration, wonderful views and feature Seattle's famous places.  Perfect for locals and tourists alike.
</p>
<p>
	<span class="glyphicon glyphicon-map-marker"></span> 1101 Alaskan Way, Seattle, WA 98101<br>
	<span class="glyphicon glyphicon-earphone"></span> 1 (888) 623-1445<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.argosycruises.com/" target="_blank">http://www.argosycruises.com/</a><br>
</p>

<h2>Washington State Ferries</h2>
<p>
	The Washington ferries system links the Seattle area on the east side of Puget Sound to towns on the Kitsap Peninsula and Olympic Peninsula and to British Columbia in Canada.  If you have never ridden on a ferry, I would recommend riding one at least once during your visit. It's a pleasant way to travel and the scenery is spectacular! It's a unique experience for those who are from places where there is no ferry system.
</p>
<p>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.wsdot.wa.gov/ferries/" target="_blank">http://www.wsdot.wa.gov/ferries/</a><br>
</p>

<h2>Whale Watching</h2>
<p>
	The San Juan Islands provide one of the best whale watching opportunities anywhere in the world, offering calm waters and a huge variety of wildlife which includes our three pods of resident Orca whales. If you are visiting the northwest or are lucky enough to live here, don’t let this opportunity pass you by!
</p>
<p>
	<span class="glyphicon glyphicon-earphone"></span> 1 (800) 465-4604<br>
	<span class="glyphicon glyphicon-globe"></span> <a href="http://www.island-adventures.com/" target="_blank">http://www.island-adventures.com/</a><br>
</p>
